<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Crimson+Pro&family=JetBrains+Mono&display=swap">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>
    {% include seo.html %} <!-- SEO -->
    {% include navigation.html %} <!-- Navigation bar -->
    <!--{% include breadcrumbs.html %}  Breadcrumbs -->
    {{ content }}
    <h1>Latest Posts</h1>
    <ul>
        {% for post in site.posts %}
            <li>
                <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                {{ post.excerpt }}
            </li>
        {% endfor %}
    </ul>
</body>
</html>